<mat-sidenav-container>
  <mat-sidenav-content>
    <form>
      <!-- Name -->
      <mat-form-field>

      </mat-form-field>

      <!-- Email -->
      <mat-form-field>

      </mat-form-field>

      <!-- Gender -->
      <div>
        <mat-form-field>

        </mat-form-field>
      </div>
      

      <!-- Date-picker -->
      <mat-form-field>

      </mat-form-field>

      <!-- Class -->
      <mat-form-field>

      </mat-form-field>

      <!-- Add Subject -->
      <mat-form-field>

      </mat-form-field>

      <!-- Submit -->
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>